body {
	background-color: rgb(61, 89, 41);
}
.collapse {
	display: block;
}
.navbar-nav > li {
	float: left;
}
.affix-top.navbar-default {
	border-color: transparent; background-color: transparent;
}
.affix-top.navbar-default .nav > li > a {
	color: rgb(255, 255, 255);
}
.affix-top.navbar-default .nav > li > a:focus {
	color: rgb(255, 255, 255);
}
.navbar {
	min-height: 30px;
}
.navbar-nav {
	margin: inherit; border: 0px solid transparent; border-image: none;
}
header {
	background: url("/newage/img/bg-pattern.png"), linear-gradient(to right bottom, rgb(151, 129, 106), rgb(233, 227, 222));
}
section.vt100 {
	min-height: 100vh;
}
.btn-wrap {
	padding: 10px 20px; text-align: center;
}
ul.list-social li.social-facebook a {
	background-color: rgb(59, 89, 152);
}
ul.list-social li.social-sms a {
	background-color: rgb(59, 89, 152);
}
ul.list-social li.social-twitter a {
	background-color: rgb(29, 161, 242);
}
ul.list-social li a {
	border-radius: 100%; width: 50px; height: 50px; color: rgb(255, 255, 255); line-height: 50px; font-size: 2.5rem; display: block;
}
.navbar-nav li {
	width: 25%; text-align: center;
}
.row {
	margin-right: 0px; margin-left: 0px;
}
.navbar-nav .active {
	background-color: rgb(109, 96, 116);
}
.navbar-nav .active a {
	color: rgb(255, 255, 255) !important;
}
.navbar-default .nav > li.active > a {
	color: rgb(255, 255, 255) !important; background-color: transparent;
}
.navbar-default .nav > li.active > a:focus {
	color: rgb(255, 255, 255) !important; background-color: transparent;
}
.navbar-default .nav > li > a:hover:focus {
	color: rgb(34, 34, 34);
}
.navbar-default .nav > li > a:hover {
	color: rgb(34, 34, 34);
}
.affix {
	display: block;
}
.affix-top {
	display: none;
}
.affix-top .nav > li > a:hover:focus {
	color: rgb(255, 255, 255);
}
.affix-top .nav > li > a:hover {
	color: rgb(255, 255, 255);
}
.navbar-fixed-top {
	border-width: 0px;
}
header .header-content {
	padding: 50px 0px; text-align: center; position: relative;
}
section {
	padding: 0px;
}
.btn {
	border-radius: 0px;
}
input:-ms-input-placeholder {
	color: rgb(255, 255, 255);
}
#message input {
	padding: 20px 10px; color: rgb(255, 255, 255); background-color: inherit;
}
#message textarea {
	color: rgb(255, 255, 255); background-color: inherit;
}
.form-control {
	border-radius: 0px; border: 1px solid rgb(255, 255, 255); border-image: none; color: rgb(255, 255, 255); font-size: 1.2rem; background-color: inherit;
}
.bg-purple {
	padding: 10px; color: rgb(61, 89, 41); background-color: rgb(255, 255, 255);
}
.btn.bg-purple:hover {
	color: rgb(61, 89, 41); text-decoration: none;
}
.btn {
	font-weight: bold;
}
.col-lg-1 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-lg-10 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-lg-11 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-lg-12 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-lg-2 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-lg-3 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-lg-4 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-lg-5 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-lg-6 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-lg-7 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-lg-8 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-lg-9 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-1 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-10 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-11 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-12 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-2 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-3 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-4 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-5 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-6 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-7 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-8 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-9 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-sm-1 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-sm-10 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-sm-11 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-sm-12 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-sm-2 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-sm-3 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-sm-4 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-sm-5 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-sm-6 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-sm-7 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-sm-8 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-sm-9 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-1 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-10 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-11 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-12 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-2 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-3 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-4 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-5 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-6 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-7 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-8 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.col-xs-9 {
	padding-right: 0px; padding-left: 0px; position: relative; min-height: 1px;
}
.container {
	padding-right: 0px; padding-left: 0px; margin-right: auto; margin-left: auto;
}
.comment-list {
	
}
.comment-title .title {
	font-size: 1.4rem; font-weight: bold;
}
.comment-title .date {
	padding-left: 10px; font-size: 1.3rem;
}
.comment-content {
	padding: 10px 0px; color: rgb(119, 119, 119);
}
.comment-footer a {
	color: rgb(51, 51, 51); font-weight: bold; text-decoration: none;
}
.comment-reply-wrap {
	padding: 10px; background-color: rgb(238, 238, 238);
}
.comment-reply-wrap .bg-purple {
	padding: 10px; color: rgb(255, 255, 255); background-color: rgb(86, 120, 59);
}
.comment-reply-wrap .bg-purple:hover {
	color: rgb(255, 255, 255); background-color: rgb(86, 120, 59);
}
.fa-comments {
	color: rgb(86, 120, 59);
}
.comment-reply-wrap .form-control {
	border-width: 0px; font-size: 1.2rem; background-color: rgb(255, 255, 255);
}
.reply_wrap {
	border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dotted;
}
.comment-reply-wrap {
	display: none;
}
.gretting-content-wrap {
	width: 100%; position: absolute;
}
.gretting-content {
	padding: 10px;
}
.content-title {
	text-align: center;
}
.content-title img {
	width: 100px;
}
.content-body .detail-contents {
	text-align: center; line-height: 25px; padding-top: 40px;
}
.pt80 {
	padding-top: 80px;
}
.pt50 {
	padding-top: 50px;
}
.pt40 {
	padding-top: 40px;
}
.pt30 {
	padding-top: 30px;
}
.navbar-nav {
	margin: 0px;
}
.navbar-collapse {
	border-top-color: transparent; border-top-width: 0px; border-top-style: solid;
}
.show_reply {
	color: rgb(51, 51, 51);
}
a:focus {
	color: rgb(51, 51, 51); text-decoration: none;
}
a:hover {
	color: rgb(51, 51, 51); text-decoration: none;
}
.comment-list input {
	color: rgb(51, 51, 51);
}
.comment-list textarea {
	color: rgb(51, 51, 51);
}
.modal input {
	color: rgb(51, 51, 51);
}
.modal textarea {
	color: rgb(51, 51, 51);
}
.carousel-control.left {
	background-image: none;
}
.carousel-control.right {
	background-image: none;
}
.ui-loader {
	display: none;
}
.carousel-control .icon-next {
	margin-top: -25px;
}
.carousel-control .icon-prev {
	margin-top: -25px;
}
.btn-info {
	border-color: rgb(61, 89, 41); color: rgb(255, 255, 255); background-color: rgb(61, 89, 41);
}
.btn-info.active.focus {
	border-color: rgb(61, 89, 41); color: rgb(255, 255, 255); background-color: rgb(61, 89, 41);
}
.btn-info.active:focus {
	border-color: rgb(61, 89, 41); color: rgb(255, 255, 255); background-color: rgb(61, 89, 41);
}
.btn-info.active:hover {
	border-color: rgb(61, 89, 41); color: rgb(255, 255, 255); background-color: rgb(61, 89, 41);
}
.btn-info.focus:active {
	border-color: rgb(61, 89, 41); color: rgb(255, 255, 255); background-color: rgb(61, 89, 41);
}
.btn-info:focus:active {
	border-color: rgb(61, 89, 41); color: rgb(255, 255, 255); background-color: rgb(61, 89, 41);
}
.btn-info:hover:active {
	border-color: rgb(61, 89, 41); color: rgb(255, 255, 255); background-color: rgb(61, 89, 41);
}
.open > .dropdown-toggle.btn-info.focus {
	border-color: rgb(61, 89, 41); color: rgb(255, 255, 255); background-color: rgb(61, 89, 41);
}
.open > .dropdown-toggle.btn-info:focus {
	border-color: rgb(61, 89, 41); color: rgb(255, 255, 255); background-color: rgb(61, 89, 41);
}
.open > .dropdown-toggle.btn-info:hover {
	border-color: rgb(61, 89, 41); color: rgb(255, 255, 255); background-color: rgb(61, 89, 41);
}
.btn-info.focus {
	border-color: rgb(61, 89, 41); color: rgb(255, 255, 255); background-color: rgb(61, 89, 41);
}
.btn-info:focus {
	border-color: rgb(61, 89, 41); color: rgb(255, 255, 255); background-color: rgb(61, 89, 41);
}
@media all and (min-width:768px)
{
.content-body .detail-contents {
	text-align: center; line-height: 60px; padding-top: 15%; font-size: 2.7rem;
}
}
.change-area {
	text-align: center; position: relative;
}
.change-area .width-max {
	width: 100%; max-width: 100%;
}
[class*=col-md-] {
	padding-right: 0px; padding-left: 0px;
}
.swiper-button-white {
	padding: 30px 20px; background-color: rgba(0, 0, 0, 0.1);
}
.ft1 {
	font-size: 1em;
}
.ft1-1 {
	font-size: 1.1em;
}
.ft1-2 {
	font-size: 1.2em;
}
.ft1-3 {
	font-size: 1.3em;
}
.ft1-4 {
	font-size: 1.4em;
}
.ft1-5 {
	font-size: 1.5em;
}
.ft1-6 {
	font-size: 1.6em;
}
.ft1-7 {
	font-size: 1.7em;
}
.ft1-8 {
	font-size: 1.8em;
}
.ft1-9 {
	font-size: 1.9em;
}
.ft2 {
	font-size: 2em;
}
.ft2-1 {
	font-size: 2.1em;
}
.ft2-2 {
	font-size: 2.2em;
}
.ft2-3 {
	font-size: 2.3em;
}
.ft2-4 {
	font-size: 2.4em;
}
.ft2-5 {
	font-size: 2.5em;
}
.ft2-6 {
	font-size: 2.6em;
}
.ft2-7 {
	font-size: 2.7em;
}
.ft2-8 {
	font-size: 2.8em;
}
.ft2-9 {
	font-size: 2.9em;
}
.ft3 {
	font-size: 3em;
}
.ft3-1 {
	font-size: 3.1em;
}
.ft3-2 {
	font-size: 3.2em;
}
.ft3-3 {
	font-size: 3.3em;
}
.ft3-4 {
	font-size: 3.4em;
}
.ft3-5 {
	font-size: 3.5em;
}
.ft3-6 {
	font-size: 3.6em;
}
.ft3-7 {
	font-size: 3.7em;
}
.ft3-8 {
	font-size: 3.8em;
}
.ft3-9 {
	font-size: 3.9em;
}
.ft4 {
	font-size: 4em;
}
.ft4-1 {
	font-size: 4.1em;
}
.ft4-2 {
	font-size: 4.2em;
}
.ft4-3 {
	font-size: 4.3em;
}
.ft4-4 {
	font-size: 4.4em;
}
.ft4-5 {
	font-size: 4.5em;
}
.ft4-6 {
	font-size: 4.6em;
}
.ft4-7 {
	font-size: 4.7em;
}
.ft4-8 {
	font-size: 4.8em;
}
.ft4-9 {
	font-size: 4.9em;
}
.ft5 {
	font-size: 5em;
}
.ft5-1 {
	font-size: 5.1em;
}
.ft5-2 {
	font-size: 5.2em;
}
.ft5-3 {
	font-size: 5.3em;
}
.ft5-4 {
	font-size: 5.4em;
}
.ft5-5 {
	font-size: 5.5em;
}
.ft5-6 {
	font-size: 5.6em;
}
.ft5-7 {
	font-size: 5.7em;
}
.ft5-8 {
	font-size: 5.8em;
}
.ft5-9 {
	font-size: 5.9em;
}
.tac th {
	text-align: center;
}
.tac td {
	text-align: center;
}
.tac {
	text-align: center;
}
.tal th {
	text-align: left;
}
.tal td {
	text-align: left;
}
.tal {
	text-align: left;
}
.tac {
	text-align: center;
}
.tac * {
	text-align: center;
}
.tal {
	text-align: left;
}
.tal * {
	text-align: left;
}
.tar {
	text-align: right;
}
.tar * {
	text-align: right;
}
.ff-sans {
	font-family: "Noto Sans KR", sans-serif;
}
.ff-sans * {
	font-family: "Noto Sans KR", sans-serif;
}
