@font-face {
	font-family: Nanum Gothic Coding;
	src: url(https://fonts.gstatic.com/s/nanumgothiccoding/v14/8QIVdjzHisX_8vv59_xMxtPFW4IXROws-6M7UQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Nanum Gothic Coding;
	src: url(https://fonts.gstatic.com/s/nanumgothiccoding/v14/8QIYdjzHisX_8vv59_xMxtPFW4IXROws8xgeQsJ29Q.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
